src/main/static/node_modules/**
src/main/static/typings/**
target/**
.kube/**
.kube
.vscode
.project
.settings
.classpath
.factorypath
/.apt_generated/
/target/
/build/
/bin/
/.settings/
/node-installation-dir/
